.bg {
    background-image: url("gradient.png");
    height: 100vh;
    background-position: center;
    background repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-image: url("gradientt.png");
    height: 100vh;
    background-position: center;
    background repeat: no-repeat;
    background-size: cover;
}
.center {
    text-align: center;
}

h1 {
    text-align: center;

    color: white;

    text-shadow: 2px 2px 4px #000000;

}

body {
  font-family: 'Gaegu', cursive;
  font-size: 22px;
}
p.ex1 {
    margin: 280px;
  }

  p.ex2 {
    margin: 280px;
  }

  #pho {
    flex-basis: 40%
  }
  .carousel-inner > .item > img {
    /* width:640px;
    height:360px; */
    position: center;
  }